body {
   margin: 0;
}
.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
}
.info {
   margin: 0;
   position: absolute;
   top: 10px;
   left: 10px;
}
.list {
   margin-top: 10px;
   text-align: center;
   width: 300px;
}
.input {
   margin: 0 5px;
}
.input:focus {
   outline: none;
}
.btn {
   cursor: pointer;
   position: absolute;
}